@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.card {
    width: 290px;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.01);
}

.card-img-top {
    padding-bottom: 10px;
}

.card-body {
    padding: 0;
    padding-top: 10px !important;
}

.card-bottom {
    padding-top: 10px !important;
}

.cart-count {
    font-size: 10px !important;
    position: absolute;
    top: 0px;
    left: 22px;
}

.heart-icon {
    width: 30px;
    height: 30px;
    color: red;
    fill: red;
}

.heart-icon:hover {
    fill: red;
}